<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">
    <link rel="stylesheet" th:href="@{/css/sharedWork/sharedWork.css}">
</head>
<body>

<header th:replace="~{common/header::headerFragment}"></header>
<section>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-title">업무공유</div>
            <ul>
                <li onclick="location.href='/user/allWork'">전체업무</li>
            </ul>
        </div>

        <!-- 메인 폼 -->
        <div class="main-content">
            <!-- 캘린더 출력 -->
            <div id="calendar"></div>

            <!-- 모달 팝업 -->
            <div class="modal-overlay" id="modal-overlay"></div>
            <div class="modal" id="modal">
                <h2>일정 공유</h2>
                <label for="eventTitle">제목:</label>
                <input type="text" id="eventTitle" placeholder="일정 제목을 입력하세요">
                <label for="eventDescription">설명:</label>
                <textarea id="eventDescription" placeholder="일정 설명을 입력하세요"></textarea>
                <label for="eventStartDate">시작 날짜</label>
                <input type="date" id="eventStartDate">
                <label for="eventEndDate">종료 날짜</label>
                <input type="date" id="eventEndDate">

                <label for="eventColor">색상 선택:</label>
                <select id="eventColor">
                    <option value="#FF5733" style="color: #FF5733;">주황색</option>
                    <option value="#33FF57" style="color: #33FF57;">초록색</option>
                    <option value="#FF33A1" style="color: #FF33A1;">핑크색</option>
                    <option value="#FFBD33" style="color: #FFBD33;">노란색</option>
                    <option value="#3357FF" style="color: #3357FF;">파란색</option>
                    <option value="#8E44AD" style="color: #8E44AD;">보라색</option>
                    <option value="#3498DB" style="color: #3498DB;">하늘색</option>
                </select>
                <br><br>
                <button id="saveEventBtn">저장</button>
                <button id="deleteEventBtn">삭제</button>
                <button id="closeModalBtn">닫기</button>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{common/footer::footerFragment}"></footer>
<!-- 캘린더 스크립트 -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script th:src="@{/js/sharedWork/allWork.js}"></script>

</body>
</html>
