<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mailMain</title>
    <!--폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/common/style.css">

</head>
<body>
<button th:onclick="|location.href='@{/mail/sendMail}'|">메일 쓰기</button>
<button th:onclick="|location.href='@{/mail/sentMails}'|">내가 보낸 메일</button>
<button th:onclick="|location.href='@{/mail/receivedMails}'|">내가 받은 메일</button>
<button th:onclick="|location.href='@{/mail/mailBin}'|">휴지통</button>
</body>
</html>