<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>sendMail</title>
    <!--폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/mail/sendMail.css">
    <link rel="stylesheet" href="/css/mail/boldHover.css">
    <script src="/js/mail/boldHover.js"></script>
    <script src="/js/mail/sendMail.js"></script>
    <style>
        .bold{
            font-weight:bold;
            color : #5c1915;
        }
    </style>
</head>
<body>
<header th:replace="~{common/header::headerFragment}"></header>
<section>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-title">사내 메일</div>
            <ul>
<!--                <li th:onclick="|location.href='@{/user/mail}'|">전체 메일</li>-->
                <li class="menu-item"
                    th:onclick="|location.href='@{/mail/sentMails}'|"
                    th:classappend="${currentPageItem == 'sentMails'} ? 'bold' : ''">
                    보낸 메일
                </li>
                <li class="menu-item"
                    th:onclick="|location.href='@{/mail/receivedMails}'|"
                    th:classappend="${currentPageItem == 'receivedMails'} ? 'bold' : ''">
                    받은 메일
                </li>
<!--                <li th:onclick="|location.href='@{/mail/mailBin}'|">휴지통</li>-->
            </ul>
        </div>


        <div class="form-container">
            <form id="sendMailForm" th:action="@{/mail/sendMail}" method="post" enctype="multipart/form-data">

                <div class="sendMail_topBox">

                    <!-- 제출 버튼 -->
                    <div class="button-group">
                        <button type="submit" class="submit-btn">메일 쓰기</button>
                    </div>

                    <!-- 제목 -->
                    <div class="form-group">
                        <label for="emailTitle">제목:</label>
                        <input type="text" id="emailTitle" name="emailTitle" required>
                    </div>

                    <!-- 파일첨부 버튼 -->
                    <div class="form-group mailFileBox">
                        <label for="mailFiles">첨부파일:</label>
                        <div id="fileListContainer"></div>
                        <input type="file" id="mailFiles" name="mailFiles" multiple onchange="updateFileList()" style="display: none;">
                        <button type="button" class="custom-button" onclick="document.getElementById('mailFiles').click();">파일첨부</button>
                    </div>

                    <!-- 분류 -->
                    <!-- 회원검색 버튼 -->
                    <div class="form-group">
                        <label for="receiverEmpIds">수신자:</label>
                        <div id="selectedReceivers">
                            <!-- 선택된 수신자 목록이 여기에 표시됩니다. -->
                        </div>
                        <input type="hidden" id="receiverEmpIds" name="receiverEmpIds" required />
                        <button type="button" class="custom-button" data-toggle="modal" data-target="#searchItems">회원검색</button>
                    </div>

                    <!-- 내용 -->
                    <div class="form-group content">
                        <label for="emailContent">내용:</label>
                        <textarea id="emailContent" name="emailContent" required></textarea>
                    </div>


                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="searchItems" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="/images/close.svg" alt="닫기 버튼">
                    </span>
                    </button>
                    <div>회원 검색</div>
                </div>

                <form action="#" method="post" id="searchReceiverForm">
                    <div class="modal-body">
                        <label for="searchReceiverInput">회원</label>
                        <input type="text" id="searchReceiverInput" name="searchReceiverInput" oninput="searchReceiver()"/>
                        <div class="scrollable-table">
                        <table id="employeeList">
                            <!-- 직원 목록이 여기에 로드됩니다. -->
                        </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmSelection()">선택</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 부트스트랩 JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</section>
<footer th:replace="~{common/footer::footerFragment}"></footer>

</body>
</html>
