<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.EmployeeMapper">

    <select id="searchEmployees" parameterType="String" resultType="com.example.dto.EmployeeDTO">
        SELECT emp_id AS empId, emp_name AS empName, dept_code AS deptCode,
        position_value AS positionValue, emp_email AS empEmail
        FROM employee
        WHERE emp_name LIKE CONCAT('%', #{empName}, '%')
    </select>

</mapper>